<div class="container-fluid nav-posterior ">
  <div class="container nav-subposterior ">
    <ng-container *ngFor="let link of subNavLinks">
      <a [routerLink]="link.path">{{link.label}}</a>
    </ng-container>
  </div>
</div>

<mat-toolbar color="primary" class="nav-primaria">
  <div class="container">
    <mat-toolbar-row class="justify-content-between">
      <img src="assets/images/xbikelogo3.png" alt="Logotipo X-Bike">
      <span class=" spacer"></span>

      <mat-form-field class="buscaNav">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input matInput placeholder="O que gostaria de encontrar hoje?" type="text" (keyup)="onSearch($event)">
      </mat-form-field>

      <ng-container *ngFor="let link of primaryNavLinks">
        <button mat-button [routerLink]="link.path">{{link.label}}</button>
      </ng-container>

      <a><i class="fa fa-user"></i></a>
      <a><i class="fa fa-shopping-cart"></i></a>
    </mat-toolbar-row>
  </div>
</mat-toolbar>

<mat-toolbar class="nav-secundaria">
  <ng-container *ngFor="let link of secondaryNavLinks">
    <button mat-button [routerLink]="link.path">{{link.label}}</button>
  </ng-container>
</mat-toolbar>

<div class="container">
  <app-carousel></app-carousel>
</div>