<carousel class="carrosel">
    <slide>
        <img src="assets/images/carousel/carousel-img1-2.png">
        <div class="carousel-caption d-none d-md-block">
            <h4>Legenda</h4>
        </div>
    </slide>
    <slide>
        <img src="assets/images/carousel/carousel-img4.png">
        <div class="carousel-caption d-none d-md-block">
            <h4>Legenda</h4>
        </div>
    </slide>
    <slide>
        <img src="assets/images/carousel/carousel-img3.png">
        <div class="carousel-caption d-none d-md-block">
            <h4>Legenda</h4>
        </div>
    </slide>
</carousel>